<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>課題サイト</title>
    <meta name="description" content="課題サイトになります。" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <header class="header header__wrapper">
            <div class="header__contents">
                <h1 class="header__contents-ttl">OKA NO KISEKI <span>OFFICIAL SITE</span></h1>
                <button class="header__contents-menu-btn"><img src="images/PC/header/menu.png" alt=""></button>
            </div>
        </header>
        <main>
            <section class="mv">
                <img src="images/PC/mv/mv_pc.jpg" alt="" class="mv__top-img">
                <img src="images/PC/mv/alert.png" alt="" class="mv__alert-img">
            </section>
            <section class="news-twitter base__wrapper">
                <div class="news-twitter__item">
                    <div class="news">
                        <h2 class="news__ttl base__ttl--before-line">News.</h2>
                        <ul class="news__contents-list">
                            <li class="news__contents base__liststyle--none" v-for="_ in 6">
                                <img src="images/PC/news/nophoto.jpg" alt="" class="news__contents-img">
                                <p class="news__contents-ttl">タイトルが入ります</p>
                            </li>
                        </ul>
                        <button class="news__btn-more base__btnstyle">MORE</button>
                    </div>
                    <div class="twitter">
                        <h2 class="twitter__ttl base__ttl--before-line">Twitter.</h2>
                        <div class="twitter__contents">
                            <a class="twitter__contents-timeline twitter-timeline" data-height="1243" href="https://twitter.com/okanokiseki?ref_src=twsrc%5Etfw">Tweets by
                                okanokiseki</a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </section>
            <section class="schedule base__wrapper">
                <h2 class="schedule__ttl base__ttl--before-line">Schedule.</h2>
                <ul class="schedule__contents-list">
                    <li class="schedule__contents base__liststyle--none" v-for="_ in 3">
                        <time class="schedule__contents-time-text">2018.3.31</time>
                        <h3 class="schedule__contents-text"><span>4/11</span>以下が水平線の例</h3>
                        <hr>
                    </li>
                    <li class="schedule__contents--past base__liststyle--none" v-for="_ in 2">
                        <time class="schedule__contents-time-text">2018.3.31</time>
                        <h3 class="schedule__contents-text"><span>4/11</span>以下が水平線の例</h3>
                        <hr>
                    </li>
                </ul>
            </section>
            <section class="music base__wrapper">
                <h2 class="music__ttl base__ttl--before-line">Music.</h2>
                <div class="music__contents">
                    <img src="images/PC/music/music_ph.jpg" alt="" class="music__ph-img">
                    <img src="images/PC/music/music_ttl.png" alt="" class="music__ttl-img">
                </div>
            </section>
            <section class="member">
                <div class="base__wrapper">
                    <h2 class="member__ttl base__ttl--before-line">Member.</h2>
                    <ul class="member__contents-list">
                        <li class="member__contents" v-for="member in members">
                            <ul class="member__profile-text">
                                <li class="member__profile-name">
                                    <div class="member__profile-name-main">{{ member.name }}</div>
                                    <div class="member__profile-name-yomi">{{ member.name_yomi }}</div>
                                </li>
                                <li class="member__profile-hobby">
                                    <div class="member__profile-hobby-ttl">特　技</div>
                                    <div class="member__profile-hobby-main">{{ member.hobby }}</div>
                                </li>
                                <li class="member__profile-skill">
                                    <div class="member__profile-skill-ttl">特　技</div>
                                    <div class="member__profile-skill-main">{{ member.skill }}</div>
                                </li>
                                <li class="member__profile-color">{{ member.color }}</li>
                                <li class="member__profile-details"></li>
                            </ul>
                            <img v-bind:src="member.src" alt="" class="member_profile-img">
                        </li>
                    </ul>
                </div>
            </section>
            <section class="contact base__wrapper">
                <h2 class="contact__ttl base__ttl--before-line">Contact.</h2>
                <p class="contact__text--small">すべて入力必須項目です</p>
                <ul class="contact__contents-list">
                    <li class="contact__contents base__ttl--before-line" v-for="contact in contacts">
                        <p class="contact__contents-ttl contact__contents-ttl--after-alert">{{ contact }}</p>
                        <input type="text" class="contact__contents-input">
                    </li>
                </ul>
                <button class="contents__btn-back base__btnstyle">BACK</button>
                <button class="contents__btn-submit base__btnstyle">SUBMIT</button>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__contents base__wrapper">
                <h2 class="footer__contents-text">キャストは競馬が大好きな人から乗馬をやっている人までとにかくお馬さんが好きな人たちばかり！</h2>
                <img src="images/PC/footer/bar_banner_on_pc.jpg" alt="" class="footer__contents-img">
                <p class="footer__contents-copylight">Copyright © 2018 OKA NO KISEKI OFFICIAL </p>
            </div>
        </footer>
    </div>

    <script>
        new Vue({
            el: "#app",
            data: {
                members: [{
                    src: "images/PC/members/eriko.png",
                    name: "城田 えりこ",
                    name_yomi: "Shirota Eriko",
                    hobby: "お散歩",
                    skill: "焼肉屋さんで、テーブル全員分のお肉をやきながら、自分もみんなと同じそれ以上のスピードで食べられること。",
                    color: "● Royal Blue"
                }, {
                    src: "images/PC/members/ramune.png",
                    name: "q",
                    name_yomi: "",
                    hobby: "",
                    skill: "焼肉屋さんで",
                    color: ""
                }, {
                    src: "images/members/mio.png",
                    name: "w",
                    name_yomi: "",
                    hobby: "",
                    skill: "",
                    color: ""
                }, {
                    src: "images/members/mikan.png",
                    name: "w",
                    name_yomi: "",
                    hobby: "",
                    skill: "",
                    color: ""
                }, {
                    src: "images/members/nana.png",
                    name: "",
                    name_yomi: "",
                    hobby: "",
                    skill: "",
                    color: ""
                }, {
                    src: "images/members/satomi.png",
                    name: "",
                    name_yomi: "",
                    hobby: "",
                    skill: "",
                    color: ""
                }, {
                    src: "images/members/momomi.png",
                    name: "",
                    name_yomi: "",
                    hobby: "",
                    skill: "",
                    color: ""
                }, {
                    src: "images/members/keina.png",
                    name: "",
                    name_yomi: "",
                    hobby: "",
                    skill: "",
                    color: ""
                }, {
                    src: "images/members/airi.png",
                    name: "",
                    name_yomi: "",
                    hobby: "",
                    skill: "",
                    color: ""
                }, ],
                contacts: ["お名前", "メールアドレス", "お問い合わせ内容", "質問内容"]
            },
        })
    </script>
</body>

</html>