* {
    margin: 0;
    padding: 0;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

@media screen and (max-width: 751px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
}

.base__wrapper {
    max-width: 72.5%;
    margin: 0 auto;
}

.base__ttl {
    font-size: 16px;
    font-weight: 400;
    color: #00386a;
}

.base__ttl--before-line {
    display: flex;
    align-items: center;
}

.base__ttl--before-line:before {
    border-top: 4px solid;
    content: "";
    width: 32px;
    margin-right: 16px;
    border-color: #ff6556;
}

.base__liststyle--none {
    list-style-type: none
}

.base__btnstyle {
    background-color: #d5cdb9;
    border: none;
    border-radius: 40px;
    color: #ffffff;
}

.base__btnstyle:before {
    content: "";
    display: block;
    margin-top: 7%;
}

.base__btnstyle:after {
    content: "";
    display: block;
    margin-top: 7%;
}

@media screen and (max-width: 751px) {
    .base__wrapper {
        max-width: 89.5%;
    }
    .base__ttl {
        font-size: 24px;
    }
    .base__ttl--before-line:before {
        border-top: 6px solid;
        margin-right: 25px;
        border-color: #ff6556;
    }
}

.header__wrapper {
    max-width: 72.5%;
    margin: 21px auto;
}

.header__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contents-ttl {
    font-size: 18px;
    font-weight: 600;
    color: #00386a;
}

.header__contents-ttl span {
    font-weight: 300;
}

.header__contents-menu-btn {
    background: none;
    border: 0;
}

.header__contents-menu-btn img {
    width: 45px;
    height: 27px;
}

@media screen and (max-width: 751px) {
    .header__wrapper {
        max-width: 91%;
    }
}

@media screen and (max-width: 599px) {
    .header__contents-ttl {
        font-size: 10px;
    }
}

.mv {
    width: 100%;
    position: relative;
}

.mv__top-img {
    width: 100%;
}

.mv__alert-img {
    width: 15%;
    height: auto;
    position: absolute;
    bottom: -15px;
    right: 30%;
}

@media screen and (max-width: 751px) {
    .mv__alert-img {
        width: 30%;
        bottom: -18px;
        right: 27%;
    }
}

.news {
    width: calc(100% - 306px);
    text-align: center;
}

.news-twitter__item {
    display: flex;
    gap: 0 34px;
}

.news__contents-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.news__contents {
    width: 32%;
    height: auto;
}

.news__contents-img {
    width: 100%;
}

.news__contents-ttl {
    font-size: 16px;
    margin: 20px 0;
    text-align: start;
}

.news__btn-more {
    width: 40%;
    margin: 30px 0;
    font-size: 21px;
    font-weight: 600;
}

.news__btn-more span {
    margin-left: 24px;
}

@media screen and (max-width: 751px) {
    .news {
        width: 100%
    }
    .news-twitter__item {
        gap: 0;
    }
    .news-twitter__item {
        display: block;
    }
    .news__contents-list {
        gap: 8px;
    }
    .news__contents {
        width: 49%;
    }
    .news__contents-ttl {
        font-size: 24px;
        margin: 36px 0;
    }
    .news__btn-more {
        width: 65%;
        margin: 30px 0 80px 0;
        font-size: 29px;
    }
    .news__btn-more span {
        margin-left: 35px;
    }
}

.twitter {
    width: auto;
}

.music__contents {
    display: flex;
    align-items: center;
    background-color: #fdf5f3;
}

.music__ph-img {
    width: 47%;
}

.music__ttl-imgbox {
    text-align: center;
}

.music__ttl-img {
    width: 78.5%;
}

@media screen and (max-width: 751px) {
    .music__contents {
        flex-direction: column;
    }
    .music__ph-img {
        width: 100%;
    }
    .music__ttl-imgbox {
        width: 100%;
        height: 443px;
    }
    .music__ttl-img {
        width: 87%;
    }
}