* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic";
    color: #000000;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

@media screen and (max-width: 751px) {
    .pc {
        display: none;
    }
    .sp {
        display: block;
    }
    .br::before {
        content: "\A";
        white-space: pre;
    }
}

.base__wrapper {
    max-width: 72.5%;
    margin: 0 auto;
}

.base__ttl {
    font-size: 16px;
    font-weight: 400;
    color: #00386a;
}

.base__ttl--before-line {
    display: flex;
    align-items: center;
}

.base__ttl--before-line:before {
    border-top: 4px solid;
    content: "";
    width: 32px;
    margin-right: 16px;
    border-color: #ff6556;
}

.base__list-style--none {
    list-style-type: none
}

.base__btn-style {
    background-color: #d5cdb9;
    border: none;
    border-radius: 40px;
    color: #ffffff;
}

.base__text-margin {
    margin: 3px;
}


/* .base__btn-style:before {
    content: "";
    display: block;
    margin-top: 7%;
}

.base__btn-style:after {
    content: "";
    display: block;
    margin-top: 7%;
} */

.base__newline-style {
    white-space: pre-wrap;
}

@media screen and (max-width: 751px) {
    .base__wrapper {
        max-width: 89.5%;
    }
    .base__ttl {
        font-size: 24px;
    }
    .base__ttl--before-line:before {
        border-top: 6px solid;
        margin-right: 25px;
        border-color: #ff6556;
    }
}

.header__wrapper {
    max-width: 72.5%;
    margin: 21px auto;
}

.header__contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contents-ttl {
    font-size: 18px;
    font-weight: 600;
    color: #00386a;
}

.header__contents-ttl span {
    font-weight: 300;
}

.header__contents-menu-btn {
    background: none;
    border: 0;
    height: 35px;
}

.header__contents-menu-btn .header__contents-menu-btn--open {
    width: 45px;
    height: 27px;
}

.header__contents-menu-btn .header__contents-menu-btn--close {
    width: 35px;
    height: 35px;
}

.header__contents-menu {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 69.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fdf5f3;
    opacity: 0;
    transform: translateX(-100vw);
    transition: all .3s linear;
}

.header__contents-menu.is-active {
    opacity: 1;
    transform: translateX(0);
    overflow-y: hidden;
}

.header__contents-menu-item {
    width: 15%;
    padding: 230px 0;
    text-align: center;
    color: #ff6556;
    font-size: 24px;
    font-weight: 300;
    border-right: 7px solid white;
}

.header__contents-menu-item:nth-child(1) {
    border-left: 7px solid white;
}

@media screen and (max-width: 751px) {
    .header__wrapper {
        max-width: 91%;
    }
}

@media screen and (max-width: 599px) {
    .header__contents-ttl {
        font-size: 10px;
    }
}

.mv {
    width: 100%;
    position: relative;
}

.mv__top-img {
    width: 100%;
}

.mv__alert-img {
    width: 15%;
    height: auto;
    position: absolute;
    bottom: -15px;
    right: 30%;
}

@media screen and (max-width: 751px) {
    .mv__alert-img {
        width: 30%;
        bottom: -18px;
        right: 27%;
    }
}

.news-twitter {
    margin-top: 45px;
}

.news {
    width: calc(100% - 306px);
    text-align: center;
}

.news__ttl,
.twitter__ttl {
    margin-bottom: 50px;
}

.news-twitter__item {
    display: flex;
    gap: 0 34px;
}

.news__contents-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.news__contents {
    width: 32%;
    height: auto;
}

.news__contents-img {
    width: 100%;
}

.news__contents-ttl {
    font-size: 16px;
    margin: 22px 0 30px 0;
    text-align: start;
}

.news__btn-more {
    width: 40%;
    height: 71px;
    font-size: 21px;
    font-weight: 600;
    margin-top: 21px;
}

.news__btn-more span {
    margin-left: 24px;
}

@media screen and (max-width: 751px) {
    .news {
        width: 100%
    }
    .news-twitter__item {
        gap: 0;
    }
    .news-twitter__item {
        display: block;
    }
    .news__contents-list {
        gap: 8px;
    }
    .news__contents {
        width: 49%;
    }
    .news__contents:nth-child(5),
    .news__contents:nth-child(6) {
        display: none;
    }
    .news__contents-ttl {
        font-size: 24px;
        margin: 36px 0;
    }
    .news__btn-more {
        width: 65%;
        margin: 30px 0 80px 0;
        font-size: 29px;
    }
    .news__btn-more span {
        margin-left: 35px;
    }
    .twitter__contents .sp {
        width: 100%;
    }
}

.twitter {
    width: auto;
}

.twitter__contents .pc {
    width: 308px;
}

.music {
    margin-top: 100px;
}

.music__contents {
    display: flex;
    align-items: center;
    background-color: #fdf5f3;
    margin-top: 43px;
}

.music__ph-img {
    width: 47%;
}

.music__ttl-imgbox {
    text-align: center;
}

.music__ttl-img {
    width: 78.5%;
}

@media screen and (max-width: 751px) {
    .music__contents {
        flex-direction: column;
    }
    .music__ph-img {
        width: 100%;
    }
    .music__ttl-imgbox {
        display: flex;
        width: 100%;
        height: 443px;
        justify-content: center;
        align-items: center;
    }
    .music__ttl-img {
        width: 87%;
    }
}

.schedule {
    margin-top: 58px;
}

.schedule__ttl {
    margin-bottom: 43px;
}

.past_schedule__ttl {
    margin-bottom: 33px;
}

.past_schedule__ttl:before {
    border-color: #bbad7b;
}

.schedule__contents .schedule__contents-time-text {
    display: flex;
    align-items: center;
    position: relative;
}

.schedule__contents .schedule__contents-time-text::before {
    content: "";
    border-top: 1px solid;
    width: 33px;
    margin-right: 17px;
    border-color: #e2e2e2;
}

.schedule__contents .schedule__contents-time-text::after {
    content: "";
    border-top: 1px solid;
    width: 100%;
    margin-left: 17px;
    border-color: #e2e2e2;
}

.schedule__contents-time-text {
    color: #a3a3a3;
    font-size: 14px;
}

.schedule__contents-time-new {
    position: absolute;
    left: 157px;
    width: 62px;
    height: 29px;
    background-color: #ff6556;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule__contents-text {
    margin: 33px 3px;
    font-size: 21px;
    text-decoration: underline;
}

.schedule__contents-text span {
    color: #ff6556;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #ff6556;
}

.schedule__contents hr {
    margin-bottom: 35px;
    background-color: #e2e2e2;
    opacity: 0.1;
}

.past_schedule .schedule__contents-text {
    margin: 0 33px;
    padding-bottom: 30px;
}

.schedule__contents--past {
    background-color: #f3f1eb;
    margin-bottom: 37px;
    padding-top: 15px;
}

.schedule__contents--past .schedule__contents-time-text {
    margin: 0 47px;
}

@media screen and (max-width: 751px) {
    .schedule__contents-time-text {
        font-size: 20px;
    }
    .schedule__contents-time-new {
        font-size: 22px;
    }
    .schedule__contents-text {
        font-size: 30px;
    }
}

.member {
    background-color: #fdf5f3;
    margin-top: 77px;
}

.member__ttl {
    padding: 77px 0 58px 0;
}

.member__contents-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 58px;
}

.member__contents {
    display: flex;
    width: 45%;
    justify-content: space-between;
}

.member__profile-text {
    position: relative;
    display: flex;
    flex-direction: column;
}

.member__profile-name-main {
    position: absolute;
    width: 500px;
    font-size: 30px;
}

.member__profile-name-yomi {
    margin-top: 45px;
    margin-bottom: 22px;
    font-size: 12px;
    color: #737373;
}

.member__profile-wrapper {
    width: 168px;
}

.member__profile-hobby-ttl,
.member__profile-skill-ttl {
    font-size: 18px;
    color: #00386a;
}

.member__profile-hobby-main,
.member__profile-skill-main {
    font-size: 14px;
    color: #737373;
}

.member__profile-color {
    font-size: 13px;
    background-color: white;
    width: auto;
    border-radius: 70%/300%;
    text-align: center;
    display: inline-block;
}

.member__profile-color-text {
    margin: 5px 12px;
}

.member__profile-details {
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

.member__contents:nth-child(2) .member__profile-color {
    background-color: #ffebe9 !important;
    color: #ffffff !important;
}

.member__contents:nth-child(8) .member__profile-details {
    margin-bottom: 30px;
}

.member__profile-detail {
    display: flex;
}

.member__profile-detail-item,
.member__profile-detail-text {
    font-size: 12px;
    font-weight: 400;
    color: #ffffff;
    width: 62px;
    margin: 0 13px 2px 0;
}

.member__profile-detail-text {
    width: auto;
    color: #000000;
    font-weight: 400;
}

.member__profile-imgbox {
    width: 66%;
    height: 94%;
}


/* .member__profile-img {
    width: 66%;
    height: 94%;
    width: 345px;
    height: 538px;
} */

@media screen and (max-width: 751px) {
    .member__contents-list {
        display: block;
    }
    .member__profile-name-main {
        position: absolute;
        width: 500px;
        font-size: 42px;
    }
    .member__profile-name-yomi {
        margin-top: 55px;
        margin-bottom: 32px;
        font-size: 17px;
    }
    .member__profile-hobby-ttl,
    .member__profile-skill-ttl {
        font-size: 30px;
    }
    .member__profile-hobby-main,
    .member__profile-skill-main {
        font-size: 21px;
    }
    .member__profile-wrapper {
        width: 255px;
    }
    .member__profile-color {
        font-size: 18px;
    }
    .member__profile-details {
        margin-bottom: 0px;
    }
    .member__profile-detail {
        display: block;
    }
    .member__profile-detail-item {
        font-size: 21px;
        width: 108px;
    }
    .member__profile-detail-text {
        font-size: 21px;
        width: auto;
    }
    .member__profile-img {
        width: 450px;
        height: 846px;
    }
}

.contact {
    margin-top: 72px;
    margin-bottom: 107px;
}

.contact__ttl {
    margin-bottom: 52px;
}

.contact__ttl span {
    font-size: 14px;
    margin-left: 24px;
}

.contact__text--small {
    font-size: 14px;
}

.contact__contents-list {
    margin-bottom: 63px;
}

.contact__contents-ttl {
    margin: 15px 0;
    font-size: 21px;
}

.contact__contents-ttl:after {
    content: "(※)";
    color: #ff6556;
}

.contact__contents-input {
    background-color: #f3f1eb;
    border: none;
    width: 31.1%;
    height: 60px;
    font-size: 21px;
    padding: 0 20px;
}

.contact__contents:nth-child(2) .contact__contents-input {
    background-color: #ff6556;
    width: 55.2%;
}

.contact__contents-input--big {
    background-color: #f3f1eb;
    border: none;
    width: 69.8%;
    height: 227px;
    font-size: 21px;
    padding: 25px 66px 25px 25px;
    resize: none;
}

.contents__btn-back {
    width: 23.5%;
    height: 72px;
    font-size: 18px;
    font-weight: 600;
    margin-right: 4%;
}

.contents__btn-back-before {
    display: inline-block;
    height: 33%;
    vertical-align: middle;
    margin-right: 6.6%;
    margin-bottom: 3px;
}

.contents__btn-back-before img {
    transform: scale(-1, 1);
    height: 100%;
}

.contents__btn-back-after {
    margin-left: 18%;
    font-size: 24px;
}

.contents__btn-submit {
    width: 38%;
    height: 72px;
    font-size: 18px;
    font-weight: 600;
}

.contents__btn-submit-before {
    margin-right: 28%;
    font-size: 24px;
}

.contents__btn-submit-after {
    display: inline-block;
    height: 33%;
    vertical-align: middle;
    margin-left: 7%;
    margin-bottom: 3px;
}

.contents__btn-submit-after img {
    height: 100%;
}

.footer {
    background-color: #d5cdb9;
}

.footer__contents-text {
    font-size: 18px;
    text-align: center;
    padding: 73px 0 51px 0;
}

.footer__contents-img {
    width: 100%;
}

.footer__contents-copylight {
    font-size: 12px;
    font-weight: 400;
    color: #00275b;
}

.footer__contents-copylight {
    padding: 42px 0 38px 0;
}

@media screen and (max-width: 751px) {
    .footer__contents-text {
        font-size: 24px;
    }
    .footer__contents-copylight {
        font-size: 16px;
        text-align: center;
    }
}